@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

a {
  color: black;
  text-align: center !important;
}
.main_body {
  width: 2000px;
}
.main_body_content {
  display: flex;
  flex-direction: column;
}
.main_body_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_body_span_text {
  font-size: 2rem;
  z-index: 1;
  position: relative;
  bottom: 720px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  letter-spacing: 0.05em;
}
.main_body_small_text {
  font-size: 1rem;
  letter-spacing: 0.05em;
  padding: 0.5rem;
  font-family: sans-serif;
  color: lightgray;
}
.main_body_image {
  z-index: 1;
  position: relative;
  bottom: 720px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main_body_span_footer_text {
  z-index: 1;
  position: relative;
  bottom: 720px;
  text-align: center;
  color: black;
  font-family: sans-serif;
  letter-spacing: 0.05em;
}
.footer_heading {
  font-size: 17px;
  color: lightgray;
  letter-spacing: 0.05em;
  font-family: sans-serif;
}
.footer_small_text {
  color: #302b70;
  font-weight: 560;
  opacity: 0.8;
  font-family: sans-serif;
}
.main_body_callToAction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  position: relative;
  bottom: 700px;
  /* height: 400px; */
}
.Download_image {
  width: 100px;
  padding: 10px;
}

/* header */

.header {
  background-color: #302b70;
  /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1); */
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  background-color: white;
}

.header li a:hover,
.header .menu-btn:hover {
  /* background-color: #302b70; */
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.main_body_header_logo {
  width: 75px;
  height: 40px;
  object-fit: cover;
  object-position: 50% 50%;
  position: relative;
  top: 4px;
}
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  top: 4px;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .main_body_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main_body {
    width: 1536px;
  }
  .main_body_image,
  .main_body_content,
  .main_body_small_text,
  .main_body_span_text {
    bottom: 480px;
  }
  .main_body_span_text {
    font-size: 3.2rem;
    text-align: left;
  }
  .main_body_small_text {
    font-size: 1.2rem;
    color: lightgray;
  }
  .main_body_image {
    height: 560px;
    bottom: 520px;
  }
  .main_body_callToAction,
  .main_body_span_footer_text {
    bottom: 750px;
    text-align: left;
  }
}
